body{
    margin: 0;
    padding: 0;
}
.homeBox{
    background-image: url("https://images.unsplash.com/photo-1500964757637-c85e8a162699?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1806&q=80");
    height: 100vh;
    width: 100vw;
}
.homeContainer{
    position: relative;
    top: 30%;
}

.Copyright{
    position: fixed;
    top: 90%;
    left: 45%;
}